button {
    font-family: sans-serif, Arial;
}

body {
    background-color: rgb(121, 120, 120);
    color: white;
}

header {
    margin-top: 32px;

    text-align: center;
    height: 100px;
    color: orange;

}

main {
    margin: 0 auto;
    max-width: 320px;
}

.tab-links {
    margin-bottom: 32px;
}

button {
    color: white;

    border: none;
    background-color: transparent;

    text-transform: uppercase;
    font-size: 12px;

    padding: 16px;

    outline: none;
    position: relative;
}

/*CSS coloca um elemento HTML: after que vem depois dos conteudos do botao*/
button::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    height: 2px;
    width: 0%;

    background-color: orange;

    transition: .4s;
}

/*selecionando dois buton um com class e outro sem*/
button:hover::after,
button.active::after {
    width: 100%;
}

.tab-content>section {
    animation: up 1s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}